<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
   <div class="users">
    <% if(data && data.length){%>
        <% for(let i=0; i<data.length; i++){%>
            <div class="userimg">
             <img src=<%=data[i].profileImage%> alt="">
         </div>
             <div><%=data[i].name%></div>
             <div><%=data[i].fullName%></div>        
         </div>
         <button onclick="window.location.href='http://localhost:3000/profile/<%=data[i].username%>';">View Profile</button>
         <%}
         %>
      <%}else{%>
            <p>No users found</p>
          <%}
    %>    
   </div>
</body>
</html>